{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form class="form" id="nameForm" method="POST">
            <div class="input-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" placeholder="enter your name here" required />
            </div>

            <label for="selectGrade" style="color: white">Choose your grade:</label>
            <select id="selectGrade" name="grade_select" style="">
                <option value='A2'>Grade A2</option>
                <option value='AS'>Grade AS</option>
                <option value='IG'>Grade IG</option>
                <option value='9'>Grade 9</option>
                <option value='8'>Grade 8</option>
                <option value='7'>Grade 7</option>
                <option value='6'>Grade 6</option>
                <option value='5'>Grade 5</option>
                <option value='4'>Grade 4</option>
                <option value='3'>Grade 3</option>
                <option value='2'>Grade 2</option>
                <option value='1'>Grade 1</option>
            </select>

            <label for="selectPost" style="color: white; display: none">Choose:</label>
            <select id="selectPost" name="post_select" style="display: none;">
                <option value='head-boy'>Head Boy</option>
                <option value='head-girl'>Head Girl</option>
                <option value='vice-head-boy'>Vice Head Boy</option>
                <option value='vice-head-girl'>Vice Head Girl</option>
                <option value='sports-captain'>Sports Captain</option>
                <option value='vice-sports-captain'>Vice Sports Captain</option>
                <option value='cultural-head'>Cultural Head</option>
                <option value='vice-cultural-head'>Vice Cultural Head</option>
                <option value='house-captain-spartans'>House Captain Spartans</option>
                <option value='vice-house-captain-spartans'>Vice House Captain Spartans</option>
                <option value='house-captain-knights'>House Captain Knights</option>
                <option value='vice-house-captain-knights'>Vice House Captain Knights</option>
                <option value='house-captain-trojans'>House Captain Trojans</option>
                <option value='vice-house-captain-trojans'>Vice House Captain Trojans</option>
                <option value='house-captain-samurais'>House Captain Samurais</option>
                <option value='vice-house-captain-samurais'>Vice House Captain Samurais</option>
            </select>
            <button type='submit' class="btn block">
                Continue <i class="fas fa-arrow-right-long"></i>
            </button>
        </form>
    </div>
{% endblock %}