{% extends 'base.html' %}
{% block content %}
    <section>
      <h1 class="text-center mt-6">Head Boy</h1>
      <form class="flex" method="POST">
          <div>
        <div class="card" id="vote1">
          <div class="card-body">
            <img src={{ url_for('static', filename='img/boy.jpg') }} />

            <h2>John Doe</h2>
            <p>Head Boy</p>
          </div>
        </div>
            <input type="checkbox" name="vote1">
          </div>

          <div>
        <div class="card" id="vote2">
          <div class="card-body">
            <img src={{ url_for('static', filename='img/boy.jpg') }}/>

            <h2>Sam Smith</h2>
            <p>Head Boy</p>
          </div>
        </div>
            <input type="checkbox" name="vote2">
          </div>
      </form>

      <button class="btn" type="submit">Continue <i class="fas fa-arrow-right-long"></i></button>
    </section>
{% endblock %}