{% extends "base.html" %} {% block title %} {{ post }} {% endblock %}
{% block main %}
    <div class="container-sm">
        <form method="POST">
            <h3 align="center">Vote For One</h3>
            <div class="form-floating mb-3 mt-3">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Full Name"
                  required
                />
                <label for="firstName">Full Name</label>
            </div>

            <div class="form-floating mb-3 mt-3">
                 <select class="form-select" id="vote" aria-label="Select Your Vote" name="vote_choice">
                    <option selected>Select Your Vote</option>
                    <option value="1">Candidate 1</option>
                    <option value="2">Candidate 2</option>
                    <option value="3">Candidate 3</option>
                  </select>
                  <label for="floatingSelect">Select Your Vote</label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}